*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background:rgb(228, 195, 228);
}
.first5{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    width: 6em;
    background: rgb(168, 166, 166);
    display: flex;
    margin-top:8.5% ;
    margin-left:23% ;
  }
  
  .box {
    background-color:  rgb(184, 58, 184);
    width: 6em;
    height: 6em;
    transition: all 0.3s;
    opacity: 0.5;
  }
  article{
    width: 12em;
    height: 8em;
    background: #fff;
  }
  #box1:hover {
    transform: rotate(45deg);
  }
  .four{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
  }
  #box2:hover{
    transform: scaleY(0.6);
  }
  #box3:hover{
    transform: scaleX(0.6);
  }
  #box4:hover{
    transform: scale(1.6);
  }
  #box5:hover{
    transform: scaleX(1.5);
  }
  #box6:hover{
    transform: scaleY(1.5);
  }
  #box7:hover{
    transform: skew(45deg);
  }
  #box8:hover{
    transform: skewY(45deg);
  }
  #box9:hover{
    transform: translate(30px, 30px);
  }
  #box10:hover{
    transform: translate(30px);
  }
  #box11:hover{
    transform: translate(0,30px);
  }
  #box12:hover{
    transform: skewY(45deg) scale(1.5) translate(15px,0) ;
  }
  #box13:hover{
    transform: perspective(100px) rotateX(45deg) ;
  }
  #box14:hover{
    transform: perspective(100px) rotateY(45deg) ;
  }
  #box15:hover{
    transform-origin: top right;
    transform: rotate(45deg);
  }
  #box16:hover{
    transform-origin: bottom left;
    transform: rotate(45deg);
  }
  #box17:hover{
    transform-origin: bottom;
    transform: perspective(100px) rotateX(45deg) ;
  }
  #box18:hover{
    transform-origin: top;
    transform: perspective(150px) rotateX(45deg) ;
  }
  #box19:hover{
    transform-origin: left;
    transform: perspective(100px) rotateY(45deg) ;
  }
  #box20:hover{
    transform-origin: right;
    transform: perspective(100px) rotateY(45deg) ;
  }
  #box21:hover{
    transform-origin: right top;
    transform: scale(1.6);
  }
  #box22:hover{
    transform-origin: left bottom;
    transform: scale(1.6);
  }
  #box23:hover{
    transform-origin: right;
    transform: scaleX(1.5);
  }
  #box24:hover{
    transform-origin: left;
    transform: scaleX(1.5);
  }
  #box25:hover{
    transform-origin: top;
    transform: scaleY(1.5);
  }
  #box26:hover{
    transform-origin: bottom;
    transform: scaleY(1.5);
  }